.rightbar {
    padding: 13px 0px;
    flex: 2.8;
  }
  .rightbarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .rightBarFriend{
    display: flex;
    align-items: center; 
  }
.rightbarProfileImgContainer img{
  height: 90px;
  width: 90px;
  border-radius: 50%;
}
.rightbarProfileImgContainer{
  margin-right: 10px;
}

  
 
  

